# Database
POSTGRES_PASSWORD=yourpassword
DB_URL=postgres://postgres:yourpassword@localhost:5432/orchestrator?sslmode=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_QUEUE_NAME=jobs

# Server
GRPC_ADDR=:50051
WORKER_COUNT=3
